<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|section-medium","bottom":"var:preset|spacing|section-large"}}},"layout":{"type":"constrained","contentSize":"var(--wp--custom--layout--narrow-width)"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--section-medium);padding-bottom:var(--wp--preset--spacing--section-large)">
		<!-- wp:post-title {"level":1} /-->

		<!-- wp:post-date {"textColor":"contrast-subtle","fontSize":"small"} /-->

		<!-- wp:post-featured-image {"style":{"border":{"radius":"var(--wp--custom--radius--medium)"},"spacing":{"margin":{"top":"var:preset|spacing|l"}}}} /-->

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

		<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|2-xl"}}}} -->
		<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:var(--wp--preset--spacing--2-xl)"/>
		<!-- /wp:separator -->

		<!-- wp:paragraph {"fontSize":"small"} -->
		<p class="has-small-font-size"><a href="/blog/">Back to blog</a></p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
